#conteneur
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  #products img {
    max-width: 100%;
    height: auto;
    height: 255px; 
    width: 285px; 
  }
body{
    background-color: hsl(216, 76%, 67%);
}

.product-libelle {
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}

.product-description {
  color: #030303; 
  text-align: center;

}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
