{% extends "blog/base.html" %}
{% block title %}Détails du Post{% endblock title %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 >{{ post.title }}</h2>
            <p class="card-text"><strong>Auteur : </strong> {{ post.author }}</p>
            <p class="card-text"><strong>Mise à jour : </strong> {{ post.updated_on }}</p>
            <p class="card-text"><strong>Contenu : </strong></p>
            <p class="card-text">{{ post.content }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" style="height: 200px; width: 200px;" class="rounded float-start" alt="Image du Post">
            {% endif %}
            <br> <br>
            <a href="{% url 'listPosts' %}" class="btn btn-primary">Retour à la liste des posts</a>
        </div>
    </div>
</div>
{% endblock %}
