{% extends "blog/base.html" %}
{% load static %}

{% block title %}Liste des Posts{% endblock title %}

{% block content %}
<div class="container">

    <h3 >Liste des Posts</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card post-card">
                {% if post.image %}
                <img class="card-img-top" src="{{ post.image.url }}" alt="Post Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <div class="d-grid gap-2">
                    </div>
                    <br>
                    <div class="btn-group" id="btnbloc">
                        <a href="{% url 'detail_post' post.pk %}" class="btn btn-primary">Détails</a>
                    </div>
                    <div class="btn-group" id="btnbloc">
                        <a href="{% url 'modifier_post' post.pk %}" class="btn btn-primary">Modifier</a>

                    </div>
                    <a href="{% url 'supprimer_post' post.pk %}" class="btn btn-primary">Supprimer</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
